# Añadido para evitar errores por archivos grandes
.cache/
*.pack

# Node modules y producción
node_modules/
build/
dist/

# Archivos del sistema y logs
.DS_Store
Thumbs.db
*.log

# Entornos
.env
.env.*.local

# IDEs y configuraciones locales
.vscode/
.idea/
